# OS
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/
.idea/
*.swp
*~

# Logs
*.log
npm-debug.log
hot

# Dependencies
/node_modules/
/vendor/

# Environment
.env
.env.*

# Jigsaw
/build_local/
/build_staging/
/build_production/
/cache/
/source/assets/build/
