@import "tailwindcss";

@theme {
  --color-main1: #3A3835;
  --color-main2: #6E9EAF;
  --color-main3: #C9A96A;
  --color-gray5: #252322;
  --color-gray4: #666666;
  --color-gray3: #7B7C7D;
  --color-gray2: #C0C0C0;
  --color-gray1: #E6E4E4;
  --color-bg: #F3F4F4;

  /* 合併中英文 Fallback */
  --font-sans: "Poppins", "Noto Sans TC", sans-serif;
  --font-serif: "Cormorant Infant", "Noto Serif TC", serif;

  /* 自訂母檔斷點系統 */
  --breakpoint-lg: 1200px;
  --breakpoint-md: 800px;
}

.layout-grid {
  display: grid;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  
  /* 799px 以下 (預設行動版邊距) */
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  /* 800px - 1199px 平板 */
  @media (min-width: 800px) {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  /* 1200px 以上 桌機 */
  @media (min-width: 1200px) {
    padding-left: 4.5rem;
    padding-right: 4.5rem;
    max-width: 1440px;
  }
}

/* Custom Tailwind Utility / Components Classes */
.inner-page-padding {
  padding-top: 56px;
  padding-bottom: 80px;

  @media (min-width: 880px) {
    padding-top: 64px;
    padding-bottom: 96px;
  }

  @media (min-width: 1200px) {
    padding-top: 96px;
    padding-bottom: 128px;
  }
}

/* ================= HEADING TOKENS ================= */
@utility text-h1 {
  font-family: var(--font-serif);
  font-size: 66px;
  line-height: 1.05;
  letter-spacing: 0.05em;
}

@utility text-h2 {
  font-family: var(--font-serif);
  font-size: 40px;
  line-height: 1.4;
  letter-spacing: 0.06em;
}

@utility text-h3 {
  font-family: var(--font-serif);
  font-size: 32px;
  line-height: 1.4;
  letter-spacing: 0.06em;
}

@utility text-h4 {
  font-family: var(--font-serif);
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 0.06em;
}

@utility text-h5 {
  font-family: var(--font-serif);
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.06em;
}

/* ================= BODY TOKENS ================= */
@utility text-b1 {
  font-family: var(--font-sans);
  font-size: 18px;
  line-height: 1.8;
  letter-spacing: 0.06em;
}

@utility text-b2 {
  font-family: var(--font-sans);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}

@utility text-b3 {
  font-family: var(--font-sans);
  font-size: 13px;
  line-height: 1.6;
  letter-spacing: 0.1em;
}
